.sneakers{
    margin: 20px 0;
    h4{
        font: 700 1.5rem Inter;
    }
    section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    input{
        outline: none;
        border: 1px solid #F3F3F3;
        border-radius: 10px;
        padding:  13px 35px;
        max-width: 250px;
        font: 500 .9rem Inter;
    }
    .search{
        position: relative;
        box-shadow: 0 3px 10px #e6e6e6;
    }
    .search__logo{
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        width: 14px;
    }
    
}

.sneakers__items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
